<mat-card class="sidebar-box" id="dialogPoem">
  <mat-card-header>
    <mat-card-title>
      <mat-icon>rate_review</mat-icon> {{ poem.title }}
    </mat-card-title>
    <mat-card-subtitle>{{ poem.themes }}</mat-card-subtitle>
    <mat-card-subtitle>{{ poem.author }}</mat-card-subtitle>
    <mat-card-subtitle>{{ poem.date | date: 'longDate' }}</mat-card-subtitle>
    <mat-card-subtitle>
      <fa-icon [icon]="faThumbsUp"></fa-icon> {{ poem.upvotes }}
      <fa-icon [icon]="faThumbsDown"></fa-icon> {{ poem.downvotes }}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="align-middle">
    <h6>{{ poem.poemText }}</h6>
  </mat-card-content>
  <p class="read-more"><button mat-flat-button class="btnCard" (click)="openDialog()">Read it!</button></p>
</mat-card>
